1. Start by creating variables of various numeric data types and assigning them values.

In [2]:
a=10
b=10.5
c=3+4j

2. Print the data types and values of these variables.

In [3]:
print(type(a),a,type(b),b,type(c),c)

<class 'int'> 10 <class 'float'> 10.5 <class 'complex'> (3+4j)

3. Perform mathematical operations on these variables.

In [4]:
sum_ab = a + b
diff_bc = b - c
prod_ac = a * c
div_ab = a / b

print(f"Sum of a and b: {sum_ab}")
print(f"Difference of b and c: {diff_bc}")
print(f"Product of a and c: {prod_ac}")
print(f"Division of a by b: {div_ab}")

Sum of a and b: 20.5
Difference of b and c: (7.5-4j)
Product of a and c: (30+40j)
Division of a by b: 0.9523809523809523

4. Update the values of these variables.

In [5]:
a = 20
b = 25.5
c = 5 + 6j

5. Create boolean variables with True or False values.

In [6]:
is_true = True
is_false = False

6. Print the data types of these boolean variables.

In [8]:
print(type(is_true))
print(type(is_false))

<class 'bool'>
<class 'bool'>

7. Perform Boolean operations on these boolean variables.

In [9]:
and_result = is_true and is_false
or_result = is_true or is_false
not_true = not is_true

print(f"AND operation: {and_result}")
print(f"OR operation: {or_result}")
print(f"NOT operation (is_true): {not_true}")

AND operation: False
OR operation: True
NOT operation (is_true): False

8. Create string variables with text values.

In [10]:
string1 = "Hello"
string2 = "World"
string3 = "Python programming is fun."

9. Print the contents and lengths of these string variables.

In [11]:
print(f"string1: {string1}, length: {len(string1)}")
print(f"string2: {string2}, length: {len(string2)}")
print(f"string3: {string3}, length: {len(string3)}")

string1: Hello, length: 5
string2: World, length: 5
string3: Python programming is fun., length: 26

10. Concatenate strings.

In [12]:
concatenated_string = string1 + " " + string2 + ". " + string3
print(f"Concatenated string: {concatenated_string}")

Concatenated string: Hello World. Python programming is fun.

11. Format strings with variables.

In [13]:
name = "Alice"
age = 30
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

price = 19.99
quantity = 3
total_cost = price * quantity
formatted_cost = f"Item: {string3}, Price: ${price:.2f}, Quantity: {quantity}, Total: ${total_cost:.2f}"
formatted_cost

My name is Alice and I am 30 years old.

'Item: Python programming is fun., Price: $19.99, Quantity: 3, Total: $59.97'

12. Use string methods to manipulate strings by capitalizing, converting to uppercase,
justifying, centering, replacing substrings, and stripping whitespace.

In [14]:
my_string = "   Hello World   "

capitalized_string = my_string.capitalize()
print(f"Capitalized: '{capitalized_string}'")

uppercase_string = my_string.upper()
print(f"Uppercase: '{uppercase_string}'")

justified_left = my_string.ljust(25, '*')
print(f"Left Justified: '{justified_left}'")
justified_right = my_string.rjust(25, '*')
print(f"Right Justified: '{justified_right}'")

centered_string = my_string.center(25, '*')
print(f"Centered: '{centered_string}'")

replaced_string = my_string.replace("World", "Python")
print(f"Replaced: '{replaced_string}'")

stripped_string_left = my_string.lstrip()
print(f"Left stripped: '{stripped_string_left}'")
stripped_string_right = my_string.rstrip()
print(f"Right stripped: '{stripped_string_right}'")
stripped_string_both = my_string.strip()
print(f"Both stripped: '{stripped_string_both}'")

Capitalized: '   hello world   '
Uppercase: '   HELLO WORLD   '
Left Justified: '   Hello World   ********'
Right Justified: '********   Hello World   '
Centered: '****   Hello World   ****'
Replaced: '   Hello Python   '
Left stripped: 'Hello World   '
Right stripped: '   Hello World'
Both stripped: 'Hello World'

13. Create and use Python lists. Perform tasks like appending elements, indexing, slic-
ing, and iterating through the list.

In [18]:
my_list = [1, 2, 3, 'apple', 'banana']
print(f"Original list: {my_list}")

my_list.append(6)
my_list.append('cherry')
print(f"After appending: {my_list}")

first_element = my_list[0]
print(f"First element: {first_element}")

last_element = my_list[-1]
print(f"Last element: {last_element}")

subset_list = my_list[1:4]
print(f"Subset of the list: {subset_list}")

print("Iterating through the list:")
for item in my_list:
  print(item)

Original list: [1, 2, 3, 'apple', 'banana']
After appending: [1, 2, 3, 'apple', 'banana', 6, 'cherry']
First element: 1
Last element: cherry
Subset of the list: [2, 3, 'apple']
Iterating through the list:
1
2
3
apple
banana
6
cherry

14. Create and use Python tuples. Perform tasks like indexing, slicing, and concatena-
tion.

In [19]:
my_tuple = (10, 20, 30, 'apple', 'banana')
print(f"Original tuple: {my_tuple}")

first_element_tuple = my_tuple[0]
print(f"First element of the tuple: {first_element_tuple}")

last_element_tuple = my_tuple[-1]
print(f"Last element of the tuple: {last_element_tuple}")

subset_tuple = my_tuple[1:4]
print(f"Subset of the tuple: {subset_tuple}")

another_tuple = (40, 50)
concatenated_tuple = my_tuple + another_tuple
print(f"Concatenated tuple: {concatenated_tuple}")

Original tuple: (10, 20, 30, 'apple', 'banana')
First element of the tuple: 10
Last element of the tuple: banana
Subset of the tuple: (20, 30, 'apple')
Concatenated tuple: (10, 20, 30, 'apple', 'banana', 40, 50)

15. Create and use Python sets. Perform tasks like accessing, adding, deleting set ele-
ments.

In [21]:
my_set = {1, 2, 3, 'apple', 'banana'}
print(f"Original set: {my_set}")

print(f"'apple' in my_set: {'apple' in my_set}")
print(f"'grape' in my_set: {'grape' in my_set}")


my_set.add(4)
my_set.add('cherry')
print(f"After adding elements: {my_set}")

my_set.add(1)
print(f"After adding a duplicate element: {my_set}")

my_set.discard(2)
my_set.discard('grape')
print(f"After discarding element 2 and 'grape': {my_set}")

my_set.remove('apple')
try:
    my_set.remove('grape')
except KeyError:
    print("Attempted to remove 'grape' which is not in the set, caught KeyError.")
print(f"After removing 'apple': {my_set}")

popped_element = my_set.pop()
print(f"Popped element: {popped_element}")
print(f"Set after popping an element: {my_set}")

my_set.clear()
print(f"Set after clearing: {my_set}")

Original set: {'banana', 1, 2, 3, 'apple'}
'apple' in my_set: True
'grape' in my_set: False
After adding elements: {'banana', 1, 2, 3, 'apple', 4, 'cherry'}
After adding a duplicate element: {'banana', 1, 2, 3, 'apple', 4, 'cherry'}
After discarding element 2 and 'grape': {'banana', 1, 3, 'apple', 4, 'cherry'}
Attempted to remove 'grape' which is not in the set, caught KeyError.
After removing 'apple': {'banana', 1, 3, 4, 'cherry'}
Popped element: banana
Set after popping an element: {1, 3, 4, 'cherry'}
Set after clearing: set()

16. Create and use Python dictionaries. Perform tasks like adding, updating, and re-
moving key-value pairs, and accessing values.

In [23]:
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
print(f"Original dictionary: {my_dict}")

print(f"Name: {my_dict['name']}")
print(f"Age: {my_dict['age']}")

my_dict['occupation'] = 'Engineer'
print(f"After adding occupation: {my_dict}")

my_dict['age'] = 31
print(f"After updating age: {my_dict}")

del my_dict['city']
print(f"After deleting city: {my_dict}")

popped_value = my_dict.pop('occupation')
print(f"Popped value: {popped_value}")
print(f"After popping occupation: {my_dict}")

print("Keys in the dictionary:")
for key in my_dict.keys():
  print(key)

print("Values in the dictionary:")
for value in my_dict.values():
  print(value)

print("Items in the dictionary:")
for key, value in my_dict.items():
  print(f"{key}: {value}")

country = my_dict.get('country', 'Unknown')
print(f"Country: {country}")

name = my_dict.get('name')
print(f"Name using .get(): {name}")

Original dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}
Name: Alice
Age: 30
After adding occupation: {'name': 'Alice', 'age': 30, 'city': 'New York', 'occupation': 'Engineer'}
After updating age: {'name': 'Alice', 'age': 31, 'city': 'New York', 'occupation': 'Engineer'}
After deleting city: {'name': 'Alice', 'age': 31, 'occupation': 'Engineer'}
Popped value: Engineer
After popping occupation: {'name': 'Alice', 'age': 31}
Keys in the dictionary:
name
age
Values in the dictionary:
Alice
31
Items in the dictionary:
name: Alice
age: 31
Country: Unknown
Name using .get(): Alice

17. Define simple functions with parameters and return values.

In [24]:
def add_numbers(x, y):
  return x + y

def greet(name):
  return f"Hello, {name}!"

result_sum = add_numbers(5, 7)
print(f"Sum of 5 and 7: {result_sum}")

greeting_message = greet("Bob")
greeting_message

Sum of 5 and 7: 12

'Hello, Bob!'

18. Call functions with different arguments and use the returned results.

In [25]:
result1 = add_numbers(15, 20)
result2 = add_numbers(-5, 10)
result3 = add_numbers(2.5, 3.7)

print(f"Result of add_numbers(15, 20): {result1}")
print(f"Result of add_numbers(-5, 10): {result2}")
print(f"Result of add_numbers(2.5, 3.7): {result3}")

sum_of_results = result1 + result2
print(f"Sum of the first two results: {sum_of_results}")

greeting1 = greet("Charlie")
greeting2 = greet("Diana")

print(greeting1)
print(greeting2)

combined_greetings = greeting1 + " " + greeting2
print(f"Combined greetings: {combined_greetings}")

Result of add_numbers(15, 20): 35
Result of add_numbers(-5, 10): 5
Result of add_numbers(2.5, 3.7): 6.2
Sum of the first two results: 40
Hello, Charlie!
Hello, Diana!
Combined greetings: Hello, Charlie! Hello, Diana!

19. Write functions that accept other functions as arguments.

In [26]:
def apply_function(func, value):
  return func(value)

def square(x):
  return x * x

def double(x):
  return x * 2

number = 10

result_square = apply_function(square, number)
print(f"Applying square to {number}: {result_square}")

result_double = apply_function(double, number)
print(f"Applying double to {number}: {result_double}")

result_triple = apply_function(lambda x: x * 3, number)
print(f"Applying triple (lambda) to {number}: {result_triple}")

Applying square to 10: 100
Applying double to 10: 20
Applying triple (lambda) to 10: 30

20. Define and use Python classes. Include tasks like creating a class, defining methods,
and creating instances.

In [27]:
class Dog:
  def __init__(self, name, breed):
    self.name = name
    self.breed = breed

  def bark(self):
    return f"{self.name} says Woof!"

my_dog = Dog("Buddy", "Labrador")
print(f"My dog's name is {my_dog.name} and the breed is {my_dog.breed}.")
print(my_dog.bark())

another_dog = Dog("Lucy", "Poodle")
print(f"Another dog's name is {another_dog.name} and the breed is {another_dog.breed}.")
print(another_dog.bark())

My dog's name is Buddy and the breed is Labrador.
Buddy says Woof!
Another dog's name is Lucy and the breed is Poodle.
Lucy says Woof!

21. Implement class inheritance and method overriding.

In [28]:
class Animal:
  def __init__(self, name):
    self.name = name

  def make_sound(self):
    return "Generic animal sound"

class Cat(Animal):
  def make_sound(self):
    return f"{self.name} says Meow!"

class Cow(Animal):
  def make_sound(self):
    return f"{self.name} says Moo!"

generic_animal = Animal("Creature")
print(generic_animal.make_sound())

my_cat = Cat("Whiskers")
print(my_cat.make_sound())

my_cow = Cow("Bessie")
print(my_cow.make_sound())

Generic animal sound
Whiskers says Meow!
Bessie says Moo!

22. Create a class with class variables and instance variables, and demonstrate their
usage.

In [30]:
class Car:
  number_of_wheels = 4

  def __init__(self, make, model):
    self.make = make
    self.model = model

  def display_info(self):
    print(f"Make: {self.make}, Model: {self.model}, Wheels: {Car.number_of_wheels}")

car1 = Car("Toyota", "Camry")
car2 = Car("Honda", "Civic")

print(f"Car 1 instance variables: Make='{car1.make}', Model='{car1.model}'")
print(f"Car 2 instance variables: Make='{car2.make}', Model='{car2.model}'")

print(f"Class variable (using class name): {Car.number_of_wheels}")
print(f"Class variable (using instance car1): {car1.number_of_wheels}")
print(f"Class variable (using instance car2): {car2.number_of_wheels}")

Car.number_of_wheels = 3
print(f"\nAfter changing class variable:")
print(f"Class variable (using class name): {Car.number_of_wheels}")
print(f"Class variable (using instance car1): {car1.number_of_wheels}")
print(f"Class variable (using instance car2): {car2.number_of_wheels}")

car1.display_info()
car2.display_info()

Car 1 instance variables: Make='Toyota', Model='Camry'
Car 2 instance variables: Make='Honda', Model='Civic'
Class variable (using class name): 4
Class variable (using instance car1): 4
Class variable (using instance car2): 4

After changing class variable:
Class variable (using class name): 3
Class variable (using instance car1): 3
Class variable (using instance car2): 3
Make: Toyota, Model: Camry, Wheels: 3
Make: Honda, Model: Civic, Wheels: 3